extends layout

block content
  h1= title
  p Welcome to #{title}
block div script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js") 
          script.
                (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-8488543875923403",
                enable_page_level_ads: true
                });
